@font-face {
  font-family: "Gloria";
  src: local("Gloria"),
    url(/public/fonts/Gloria_Hallelujah/GloriaHallelujah-Regular.ttf)
      format("truetype");
}
@font-face {
  font-family: "WorkSans";
  src: local("Gloria"),
    url(/public/fonts/Work_Sans/static/WorkSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "WorkSansBold";
  src: local("Gloria"),
    url(/public/fonts/Work_Sans/static/WorkSans-Bold.ttf) format("truetype");
}
